body {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(10, 11, 46);
    color: white;
}

.navbar{
    background-color: darkslategrey;
    color: white
}

.line {
    display: inline;
    margin-left: 30px;
    color: white;
}

.rem-bull {
    text-decoration: none;
}

.del, .up {
    display: inline-block;
    float: right;
    margin-left: 30px;
}

a {
    color: white;
}